@import "tailwindcss";

/* ========== 布局基础 ========== */
html, body, #app {
  width: 100%;
  height: 100%;
}

/* 小程序页面节点 */
page {
  min-height: 100vh;
}

/* ========== 盒模型统一 ========== */
page,
view,
text,
image,
button,
input,
textarea {
  box-sizing: border-box;
}

/* ========== 默认样式重置 ========== */
body,
page,
view,
text {
  margin: 0;
  padding: 0;
}
